[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fluxtools"]
	path = fluxtools
	url = https://github.com/kesondrakey/fluxtools
